*~
.DS_Store
**/project.xcworkspace/
**/xcuserdata/
*.[oa]
*.po
*.lo
*.la
autom4te.cache/*
*.in
*/.deps/*
m4/*
!m4/ax_pthread.m4
!m4/as-compiler-flag.m4
swig/*
*.swp
*.patch
aclocal.m4
config.h
config.log
config.sub
config.guess
config.status
configure
depcomp
install-sh
compile
main
ltmain.sh
missing
mkinstalldirs
libtool
Makefile
py-compile
stamp-h1
src/.libs
src/liblzfse.pc
!src/liblzfse.pc.in
tools/.libs/*
tools/lzfse

